<html>

<head>
    <title>ray Lennon</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="w3-container" style="text-align: center; padding-top: 20px">
        <h1><b>ray lennon</b></h1>
        <h2><u>artist</u> · <u>engineer</u> · <u>student</u></h2>
        </div>
</body>
</html>