body {
  background-color: #ffffff;
}

h1 {
  color: #535353;
  font-size: 200px;
  font-family: 'Roboto Mono';
}

h2 {
  color: #535353;
  font-size: 50px;
  font-family: 'Roboto Mono';
}

p {
  font-family: 'Roboto Mono';
  margin-left: 70px;
  margin-right: 70px;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #ec7070;
  color: white;
}

.fa-instagram {
  background: #ec7070;
  color: white;
}

.fa-github {
  background: #ec7070;
  color: white;
}

.fa-envelope {
  background: #ec7070;
  color: white;
}
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.reverse {
  flex-direction: row-reverse;
}

.text-container {
  text-align: center;
  width: 50%;
}

.image-container {
  text-align: center;
  width: 50%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
img {
  align-items: center;
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}