@import "bootstrap/scss/bootstrap";

// @import "navbar";


@include color-mode(dark) {
    body {
        background-color: rgb(18, 18, 18);
        overflow-x: hidden;
    }

}

a {
    color: rgb(356, 138, 138);
}

// * {  }
.text-truncate-container p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (min-width:767px) {
    .spacer {
        padding-top: 13vh;
        // padding-bottom: 40px
    }
    
    .welcome {
        padding-top: 7px;
        padding-bottom: 15px;
        font-size: 20.8px;
    }
}

.text-large {
    font-size: 130%;
}

.btn-primary {
    background-color: rgb(256, 138, 138); 
    border-style: none;
    color:rgb(18, 18, 18);
    // text-emphasis-style: bold;
}
.btn-primary:hover, .btn-primary:active:focus, btn-primary:focus {
    background-color: rgb(187, 73, 73); 
    border-style: none;
    color:rgb(227, 227, 227);
    // text-emphasis-style: bold;
}

@media only screen and (max-width:767px) {
    .profile {
        padding-bottom: 2rem;
    }
    .welcome {
        font-size: 16px;
    }
}
